body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
}
input {
    background-color: #474747; /* Define o fundo cinza */
    color: white;
    border-radius: 3px;

}
button{
    /* width: 10%;  */
    /* height:40px;  */
    background-color: rgb(61, 72, 81);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
select {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: #474747;
    color: white;  
    border-radius: 8px;

}
table {
    width: 80%;
    margin: 5px auto;
    border-collapse: collapse;
    background-color: #444;
}
table#tabela input {
    width: 100%; /* Faz o input ocupar toda a largura da célula */
    box-sizing: border-box; /* Inclui padding e bordas na largura */
    padding: 5px;
}
th, td {
    border: 1px solid #555;
    padding: 1px 1px 1px 10px;
    text-align: left;
}
th {
    background-color: #006400;
    color: rgb(255, 255, 255);  
    text-align: center;  /* Centraliza o texto */
    padding: 5px;       /* Adiciona espaçamento interno */    
}

th:nth-child(2), td:nth-child(2) { /* Segunda coluna (Informações) menor */
    width: 30%;
}

th:nth-child(3), td:nth-child(3) { /* Terceira coluna (Acordes) maior */
    width: 50%;
}

.titulo {
    font-size: 24px;
    font-weight: bold;

}
.link {
    margin-top: 10px;
    display: block;
    color: #00c8ff;
    text-decoration: none;
}
.naoquebra{
    flex-wrap: wrap;
    display: flex;
    width: 80%;
    align-items: center;
    padding: 1px 5px;    
    margin: 0 auto; 
    
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Estilo para o texto do tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona acima do ícone */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Adiciona a seta do tooltip */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Base da seta */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Torna o tooltip visível quando o mouse passa sobre o elemento */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.linha {
    display: flex; /* Garante que os itens fiquem em linha */
    flex-wrap: nowrap; /* Impede a quebra de linha */

}