
/* Estiliza o corpo da página */
body {
    background-color: #0a0a0a; /* Define o fundo preto */
    color: rgb(205, 205, 205); /* Define a cor do texto como branco */
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    display: flex; /* Usa Flexbox para o layout */
    justify-content: stretch; /* Centraliza horizontalmente */
    align-items: stretch; /* Alinha ao topo verticalmente */
    min-height: 100vh; /* Define altura mínima igual à altura da janela */
    margin: 0; /* Remove as margens padrão */
    padding-top: 0px; /* Adiciona um espaçamento superior */
}

/* Estiliza o container principal */
.container {
    width: 100%; /* Ocupar toda a largura disponível */
    max-width: 850px; /* Limita a largura máxima a 800px */
    margin: 0px auto; /* Centraliza horizontalmente e adiciona margem vertical */
    padding: 0px; /* Adiciona espaçamento interno */
    /*background: linear-gradient(to top, #010d24 80%, #2f0381); /* Aplica gradiente no fundo */
    border-radius: 0px; /* Adiciona bordas arredondadas */
    /*box-shadow: 0px 0px 50px rgb(61, 61, 94); /* Adiciona sombra ao container */
    border: 0px solid #545454; /* Define a borda externa */
}
.links {
    display: flex; /* Usa Flexbox para layout */
    justify-content: start; /* Espaçamento entre os itens */
    align-items: center; /*Centraliza verticalmente os itens*/
    margin: 2px; /*Adiciona espaçamento inferior*/
    color: #7a818f;
    font-weight: bold;
    flex-wrap: wrap;
    gap: 5px;
}
/* Estiliza a exibição do BPM */
.bpm-display {
    font-family: Calibri;            
    display: flex;
    background: #535531; /* Fundo escuro */
    padding: 0px; /* Espaçamento interno */
    border-radius: 0px; /* Bordas arredondadas */
    justify-content: center; /* Espaçamento entre os itens */
    align-items: center; /* Centraliza verticalmente os itens */
    /*border: 2px outset #000000; /* Borda azul */
    font-size: 6.0rem; /* Fonte grande para o BPM */
    font-weight: 900;
    /* width: 90%; */
    white-space: nowrap; /* Impede quebra de linha */
    flex: 1; /* Permite que o BPM ocupe o espaço disponível */
}
/* Estilização responsiva para telas menores */
/* Estiliza os controles */
.controls {
    /*background: linear-gradient(0deg, #000000 70%, #e4e2e854 ); /* Aplica gradiente no fundo */
    background: #406140;            
    display: flex; /* Usa Flexbox para layout */
    justify-content: center; /* Centraliza horizontalmente os elementos */
    align-items: center; /* Centraliza verticalmente os elementos */
    gap: 5px; /* Espaçamento entre os elementos */
    margin: 0px 0; /* Adiciona margens vertical */
    /* border-radius: 58px; Adiciona bordas arredondadas */
    padding: 15px 2px 15px 2px;
    border-radius: 0px;
    border: 0px solid #000000;
    
    /*box-shadow: 1px 5px 19px rgba(22, 22, 209, 0.917); /* Adiciona sombra ao container */
    /* flex-wrap: wrap; Permite que os itens quebrem para uma nova linha */
}




/* Estiliza o cabeçalho */
header {
    display: flex; /* Usa Flexbox para layout */
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: center; /* Centraliza verticalmente os itens */
    margin-bottom: 20px; /* Adiciona espaçamento inferior */
}

/* Estiliza os botões */
button {
    background: #3f4252 ; /* Aplica gradiente no fundo */
    color: white; /* Cor do texto branco */
    padding: 20px; /* Espaçamento interno */
    cursor: pointer; /* Mostra o cursor como "mão" ao passar o mouse */
    transition: 0.3s; /* Adiciona transição suave ao hover */
    border-radius: 8px;
    border: 1px outset #000000;
    /*box-shadow: 1px 5px 10px rgba(136, 136, 153, 0.459); /* Adiciona sombra ao container */
    width: 50%;
    min-height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
    
}

/* Efeito hover nos botões */
button:hover {
    background: linear-gradient(-10deg, #000000 20%, #e4e2e88b ); /* Aplica gradiente no fundo */
    /*border: 5px groove #867daa;*/
    
}

.button1 {
    background:  #453e54 ; /* Aplica gradiente no fundo */
    color: white; /* Cor do texto branco */
    padding: 0px 2px 0px 2px; /* Espaçamento interno */
    cursor: pointer; /* Mostra o cursor como "mão" ao passar o mouse */
    transition: 0.3s; /* Adiciona transição suave ao hover */
    border-radius: 5px;
    border: 3px outset #000000;
    /*box-shadow: 0px 0px 3px rgba(24, 24, 163, 0.768); /* Adiciona sombra ao container */
    /* width: 50%; */
    margin: 0px 1px 0px 1px;
    height: 40px;
    font-weight: 900;            
    text-align: center;
}

/* Efeito hover nos botões */
.button1:hover {
    background: linear-gradient(-10deg, #000000 20%, #e4e2e88b ); /* Aplica gradiente no fundo */
    /*border: 5px groove #867daa;*/
    
}        

.linha{
    display: flex;
    flex-wrap: nowrap;
}


/* Estilização para listas de tarefas, configurações e ajustes de tempo */
.task-list, .settings, .tempo-settings {
    margin-top: 10px; /* Margem superior */
    border: 5px groove #23314e; /* Borda azul */
    display: flex; 
    gap: 2px; 
    flex-wrap: wrap;
    /* justify-content: space-between; */

    background: linear-gradient(0deg, #000000 80%, #e4e2e816 ); /* Aplica gradiente no fundo */
    color: white; /* Cor do texto branco */
    padding: 5px 5px 5px 5px; /* Espaçamento interno */
    margin: 5px;
    cursor: pointer; /* Mostra o cursor como "mão" ao passar o mouse */
    transition: 0.3s; /* Adiciona transição suave ao hover */
    border-radius: 8px;
    border: 0px groove #545454;
    /*box-shadow: 1px 5px 10px rgba(136, 136, 153, 0.459); /* Adiciona sombra ao container */

}

/* Estilização para inputs e selects */
input, select {
    background: #222; /* Fundo escuro */
    color: white; /* Cor do texto branco */
    border: 1px ridge #0055ff; /* Borda azul */
    padding: 5px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilização para inputs do tipo range */
input[type="range"] {
    width: 80px; /* Define a largura do controle */
    height: 1px; /* Define a altura do controle (opcional) */
    /* appearance: none; Remove o estilo padrão do navegador */
    background: #363239; /* Cor de fundo da barra */
    border-radius: 15px; /* Bordas arredondadas na barra */
}
/* Estilo para o "thumb" (botão deslizante) */
input[type="range"]::-webkit-slider-thumb {
    appearance: none; /* Remove o estilo padrão */
    width: 15px; /* Define a largura do "thumb" */
    height: 15px; /* Define a altura do "thumb" */
    background: #0055ff; /* Cor do "thumb" */
    align-items: center;
    border-radius: 50%; /* Torna o "thumb" circular */
    /* cursor: pointer; Define o cursor como clicável */
}
input[type="checkbox"] {
    width: 20px;  /* Largura do checkbox */
    height: 20px; /* Altura do checkbox */
    /*transform: scale(1.5); /* Escala maior */
    cursor: pointer; /* Torna o cursor uma mão ao passar por cima */
    
}        
.controls-wrapper {
    display: flex; /* Aplica layout flexível para os controles */
    align-items: center; /* Centraliza os elementos verticalmente */
    gap: 10px; /* Adiciona espaço entre os controles */
}        
.range-wrapper {
    width: 200px;
    display: flex; /* Usa layout flex para alinhar horizontalmente */
    align-items:stretch; /* Centraliza verticalmente o texto e o slider */
    gap: 3px; /* Ajusta o espaço entre o label e o slider */
    flex-wrap: nowrap;
    justify-content:stretch;
    
}

/* Botões nos controles com tamanho maior */
.controls button {
    font-size: 0.8rem; /* Aumenta o tamanho da fonte */
    padding: 2px 2px; /* Ajusta o espaçamento interno */
}
input[type="checkbox"] {
margin-left: 15px; /* Reduz o espaço à direita do checkbox */
margin-right: 0px; /* Reduz o espaço à esquerda do checkbox */
}

label {
    margin: 0; /* Remove margens desnecessárias */
    white-space: nowrap; /* Impede quebra de linha */
    color: rgb(205, 205, 205); /* Define a cor do texto como branco */
    font-size: 1.2rem; /* Define o tamanho da fonte */

}   
.naoquebra{
    flex-wrap: nowrap;
    display: flex;
    background: #323430;
    padding: 5px 2px 5px 2px;

}

.naoquebra_botoes{
    flex-wrap: nowrap;
    display: flex;
    background: #323430;
    padding: 5px 2px 5px 2px;

}        
.custom-slider {
/* appearance: none; */
width: 40% !important;
height: 5px;
background: linear-gradient(to right, #0055ff, #e4e2e8);
border-radius: 5px;
outline: none;
cursor: pointer;
align-items: center;
justify-content: center;
}

@media (max-width: 800px) {
               
    .custom-slider {
        justify-content: flex-end
        display: flex;
        /* appearance: none; */
        width: 30% !important;
    }            
    .container {
        padding: 5px; /* Reduz o espaçamento interno */
    }
    .bpm-display {
        font-size: 5.9rem; /* Fonte grande para o BPM */
        
    }  
    
    .controls {
        margin: 0px; /* Adiciona margens vertical */
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px;
        
    }
    button {
        padding: 0px; /* Espaçamento interno */
        width: 50%;
    }            

    .button1 {
  
        color: rgb(211, 209, 212); /* Cor do texto branco */
        padding: 0px; /* Espaçamento interno */
        cursor: pointer; /* Mostra o cursor como "mão" ao passar o mouse */
        transition: 0.3s; /* Adiciona transição suave ao hover */
        border-radius: 5px;
        /*border: 5px groove #6a6094;
        box-shadow: 1px 5px 10px rgba(136, 136, 153, 0.459); /* Adiciona sombra ao container */
        /* width: 50%; */
    }            
           
    
}


